<%- include("partials/subpage-header.ejs") %>

<body class="testPost">
  <div class="post-logo-button">
    <a class="navbar-brand py-2" href="/"><img src="/images/white-BINIzone.png" alt="" style="height: 48px; width: auto;"></a>
  </div>
  <div class="full-post-container">
    <div class="full-post">
      <h1 class="post-title"><%= post.title %></h1>
      <hr>
      <div class="post-content">
        <%- post.content %> 
      </div>
      <div class="d-flex justify-content-center my-5">
        <a class="backToHome" href="/#<%= category %>">Back to Home</a>
      </div>
    </div>
  </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $('.home').removeClass('active');
</script>

<%- include("partials/footer.ejs") %>